@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,700&display=swap');

body{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

h1, p{
    color: white;
}

h1{
    font-family: "Big Shoulders";
}

p{
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 15px;
    font-family: "Lexend Deca";
}

main{
    height: 498px;
    width: 920px;
    margin-left: 500px;
    margin-top: 200px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
}

main .div1{
    background-color: hsl(30, 77%, 52%);
    width: 274px;
    height: 498px;
    padding-left: 30px;
}

.Btn1{
    background-color: white;
    border: none;
    height: 46px;
    color: hsl(30, 77%, 52%);
    width: 139px;
    border-radius: 30px;
}

.Btn1:hover{
    color: white;
    cursor: pointer;
    border: 2px solid white;
    background-color: hsl(30, 77%, 52%);
}

img{
    height: 45px;
    width: 55px;
}

main .div2{
    width: 274px;
    background-color: hsl(185, 98%, 23%);
    height: 498px;
    padding-left: 30px;
}

.btn2{
    color: hsl(185, 98%, 23%);
    width: 139px;
    border-radius: 30px;
    height: 46px;
    background-color: white;
    border: none;
}

.btn2:hover{
    color: white;
    border: 2px solid white;
    background-color: hsl(185, 98%, 23%);
    cursor: pointer;
}

main .div3{
    background-color: hsl(169, 44%, 15%);
    width: 279px;
    height: 498px;
    padding-left: 30px;
}

.btn3{
    width: 139px;
    color: hsl(169, 44%, 15%);
    background-color: white;
    height: 46px;
    border: none;
    border-radius: 30px;
}

.btn3:hover{
    cursor: pointer;
    background-color: hsl(169, 44%, 15%);
    color: white;
    border: 2px solid white;
}