button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.Buttoni{
    border: 5px;
    font-weight: bold;
    height: 60px;
    width: 220px;
    background-color: black;
    color: honeydew;
    border-radius: 0px;
    border-style: dotted;
}

#Buttone{
    color: yellowgreen;
    background-color: brown;
    border-radius: 10px;
}

#Buttonle{
    color: aqua;
    background-color: rgb(13, 38, 39);
    border-radius: 0px;
}

#bottne{
    font-weight: bold;
    font-size: 25px;
    background-color: midnightblue;
}

#leg{
    color: rgb(255, 188, 20);
    background-color: crimson;
    font-weight: bold;
}

#walk{
    height: 70px;
    width: 300px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 40px;
    font-weight: 500;
    background-color: darkblue;
}