#lorem {
    font-weight: 800;
    /*
        ამუქებს ტექსტს ასევე არის bold bolder და 100-დან 900-მდე ტექსტის სიმუქე
    */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*
        ვაძლევთ ტექსტს სხვადასხვა დამწერლობას და როდესაც ერთი არ მუშაობს იმუშავებს მეორე Gill Sans გამოყოფილია მძიმეთი ასევე გვაქვს მრავალი font
    */
    font-size: 3em;
    /*
        ზრდის ტექსტის ზომას 3 ჯერ em არის 16px
    */

    font-style: italic;
    /*
        ანიჭებს ტექსტს სტილს ერთერთი მნიშვნელობით italic-ით ასევე არის normal და oblique
    */

    color: #655315;
    /*
        ანიჭებს ტექსტს ფერს hex-თი 
    */

}