body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    margin-bottom: 100px;
    background-image: linear-gradient(
        to right, #d33737, #e43fb8
    );
}

header h1{
    text-align: center;
    color: white;
    margin: 0;
    font-size: 2.5em;
}

main{
    margin-top: 100px;
}

section #p1, section #p2{
    display: inline-block;
    color: black;
}

#p1{
    position: relative;
    left: 500px;
}

#p2{
    position: relative;
    left: 1140px;
}

#input-1{
    position: relative;
    left: 210px;
    width: 660px;
    text-align: center;
    height: 40px;
    border-radius: 35px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
}

#input-2{
    position: relative;
    left: 330px;
    width: 660px;
    text-align: center;
    height: 40px;
    border-radius: 35px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
}

#submit-btn{
    position: relative;
    left: 515px;
    width: 840px;
    border: none;
    background-image: linear-gradient(
        to right, #d33737, #e43fb8
    );
    color: white;
    height: 30px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
}

section #lovePercent{
    color: rgb(255, 138, 157);
    font-size: 1.5em;
    text-align: center;
}